@import '../../App.scss';

.info-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.info-page-hidden {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transition: .5s;
  overflow: hidden;
  // z-index: -1;
}

.ip-btn-box {
  cursor: pointer;
  position: -webkit-sticky;
  position: sticky;
  height: 60px;
  width: 60px;
  top: 93%;
  right: 30px;
  z-index: 999999999;
}

.ip-btn {
  z-index: 999999999;
}

.info-page {
  z-index: 99999;
}

.info-page-container-hidden {
  position: absolute;
  bottom: -2000px;
  transition: .5s;
  height: 100%;
  width: 100%;
  color: $my-white;
  background: rgba(10, 10, 10, .8);
  z-index: 99999;
}

.info-page-container {
  background: rgba(10, 10, 10, .8);
  color: $my-white;
  display: flex;
  height: 100%;
  position: absolute;
  bottom: 0px;
  margin: 0;
  transition: .5s;
  width: 100%;
  justify-content: center;
  align-content: center;
  text-align: center;
  align-items: center;
  flex-wrap: wrap;
  z-index: 99999;
}

.info-page-box {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100vw;
}

.creators-container {
  display: flex;
  position: relative;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  margin: 10% 10%;
  background: red;
  min-height: 80vh;
}

.exit-creators {
  position: absolute;
  top: 20px;
  right: 20px;
}

.creator-info {
  margin: 0 40px;
}