@import '../../App.scss';

.search-input-form {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  transition: .3s;
  width: 60%;
  margin: auto;
  min-width: 500px;
}

.search-input-btn-box {
  display: flex;
  align-items: center;
}

.input-search {
  background: $my-black;
  border: none;
  border-radius: 5px;
  box-shadow: 3px 3px 5px black;
  color: $my-white;
  font-size: 1.5em;
  height: 40px;
  margin: 0 20px;
  width: 70%;
  max-width: 500px;
}

.input-search::placeholder {
  padding: 0 20px;
}

.input-search-mini {
  display: none;
}

.search-input-form:hover .input-search::placeholder {
  color: $my-white;
}

.search-input-form:hover .login-search-icon-active {
  transform: rotate(-5deg);
  cursor: pointer;
}

.search-input-form:hover .login-search-icon {
  transform: rotate(-5deg);
}

.login-search-icon {
  fill: black;
  position: relative;
}

.login-search-icon-active {
  fill: $my-white;
  position: relative;
  bottom: 2px;
}

.login-search-icon-active:hover {
  transform: rotate(-5deg);
  cursor: pointer;
}

.login-search-icon-active:active {
  filter: brightness(.7);
  box-shadow: none;
}

@media (max-width: 810px) {
  .search-input-form {
    min-width: 25px;
    width: 300px;
    margin: 0 15px;
  }

  .search-input-btn-box {
    display: none;
  }
  
  .input-search {
    display: none;
  }

  .input-search-mini {
    display: block;
    background: $my-black;
    border: none;
    border-radius: 5px;
    box-shadow: 3px 3px 5px black;
    color: $my-white;
    font-size: 1.5em;
    height: 40px;
    margin: 0;
    min-width: 178px;
  }

  .input-search-mini::placeholder {
    padding: 0 3px;
  }
}

@media (max-width: 475px) {
  .login-search-icon {
    display: none;
  }

  
}