@import '../../App.scss';

.bar-holder {
  display: flex;
  height: 600px;
  width: 60%;
  margin: auto;
  flex-direction: column;
  justify-content: center;
}

text {
  fill: $my-white !important;
  width: 50px;
}
