@import '../../App.scss';

.data-slider {
  position: relative;
  width: 100vw;
  min-height: 100vh;
  padding-top: 70px;
  background: $my-light-black;
  z-index: 1;
}

.data-slider h3 {
  color: $my-white;
  padding: 20px;
  margin: auto;
}

// .slider-graph {

// }

.slider-graph-1 {
  height: 80vh;
  width: 80vw;
  margin: auto;
}

.slider-graph div {
  outline: none;
}

.slick-arrow {
  width: 100px;
  height: 35px;
}

.slick-prev {
  z-index: 100;
  fill: $my-white;
  left: 0;
}

.slick-next {
  fill: $my-white;
  right: 0;
}

.slick-next polygon, .slide-btn path,
.slick-prev polygon, .slide-btn path {
  transition: all 0.5s cubic-bezier(0.2, 1, 0.3, 1);
  fill: $my-white;
}
.slick-next:hover polygon, .slick-next:hover path {
  fill: rgb(220, 220, 220);
}
.slick-prev:hover polygon, .slick-prev:hover path {
  fill: rgb(220, 220, 220);
}

.slick-next:hover polygon, .slick-next:hover path,
.slick-prev:hover polygon, .slick-prev:hover path {
  transition: all 1s cubic-bezier(0.2, 1, 0.3, 1);
}
.slick-next:hover .arrow,
.slick-prev:hover .arrow {
  animation: arrow-anim 2.5s cubic-bezier(0.2, 1, 0.3, 1) infinite;
}
.slick-next:hover .arrow-fixed,
.slick-prev:hover .arrow-fixed {
  animation: arrow-fixed-anim 2.5s cubic-bezier(0.2, 1, 0.3, 1) infinite;
}

.slider-btns-hidden svg {
  display: none;
}

.slick-dots {
  position: static;
}

.weeks-label {
  color: $my-white;
  font-weight: bold;
  position: relative;
  bottom: 20px;
}

@keyframes arrow-anim {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  5% {
    transform: translateX(-0.1rem);
  }
  100% {
    transform: translateX(1rem);
    opacity: 0;
  }
}
@keyframes arrow-fixed-anim {
  5% {
    opacity: 0;
  }
  20% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}


@media (max-width: 630px) {
  .slick-arrow {
    display: none !important;
  }
}