.data-slider {
  position: relative;
  min-height: 100vh;
  width: 100vw;
  padding-top: 70px;
  background: #833ab4;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.slider-graph {
  width: 100%;
  max-width: 800px;
  height: calc(80vh - 110px);
}

.slider-graph div {
  outline: none;
}

.slick-arrow {
  width: 100px;
  height: 35px;
}

.slick-prev {
  z-index: 100;
  left: 0;
  fill: #d8daeb;
}

.slick-next {
  right: 0;
  z-index: 100;
  fill: #d8daeb;
}

.slick-next polygon, .slide-btn path,
.slick-prev polygon, .slide-btn path {
  transition: all 0.5s cubic-bezier(0.2, 1, 0.3, 1);
  fill: #d8daeb;
}
.slick-next:hover polygon, .slick-next:hover path {
  fill: #fca743;
}
.slick-prev:hover polygon, .slick-prev:hover path {
  fill: #8a39ae;
}

.slick-next:hover polygon, .slick-next:hover path,
.slick-prev:hover polygon, .slick-prev:hover path {
  transition: all 1s cubic-bezier(0.2, 1, 0.3, 1);
}
.slick-next:hover .arrow,
.slick-prev:hover .arrow {
  animation: arrow-anim 2.5s cubic-bezier(0.2, 1, 0.3, 1) infinite;
}
.slick-next:hover .arrow-fixed,
.slick-prev:hover .arrow-fixed {
  animation: arrow-fixed-anim 2.5s cubic-bezier(0.2, 1, 0.3, 1) infinite;
}

.slick-dots {
  position: static;
}

@keyframes arrow-anim {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  5% {
    transform: translateX(-0.1rem);
  }
  100% {
    transform: translateX(1rem);
    opacity: 0;
  }
}
@keyframes arrow-fixed-anim {
  5% {
    opacity: 0;
  }
  20% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}


@media (max-width: 630px) {
  .slick-arrow {
    display: none !important;
  }
}