@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

* {
  margin: 0;
  box-sizing: border-box;
  object-fit: contain;
  outline: none;
}

.App {
  text-align: center;
}

body {
  /* overflow: hidden; */
}