@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

$my-orange: #F18F01;
$my-green: #99c24d;
$my-black: #2f2d2e;
$my-light-blue: #048BA8;
$my-dark-blue: #2E4057;
$my-light-black: #2a2829;
$my-white: #b7b7b7;

* {
  margin: 0; 
  box-sizing: border-box;
  object-fit: contain;
  outline: none;
}

html {
  background: $my-light-black;
  height: 100%;
}

.App {
  text-align: center;
}
