.all-bubbles {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.force-container {
  position: static;
  width: 100vw;
  height: 100vh;
  /* margin: auto; */
  position: unset;
}

.force-box {
  position: relative;
  top: 0;
  width: 100vw;
  float: left;
  height: 100%;
  overflow: unset;
}

.force-bubbles {
  z-index: 999;
}


