@import '../../App.scss';

.follow-box {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  position: relative;
  height: 100%;
  width: 100%;
}

.title-container {
  color: $my-white;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.pie-title {
  font-weight: bold;
}

.tool-tip {
  padding: 0;
  background-color: $my-light-black;
  border: none;
  color: $my-white;
  // box-shadow: 0 0 3px black;
}

.tip-text {
  margin: 0;
  padding: 0 2px;
}

.total-count {
  margin: 0;
  padding: 0 2px;
}